
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px
}
body{
    background-color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
   
}
.container{
    max-width: 1040px;
    margin: auto;
    padding: 0;
}
.head{
    background-color: darkslateblue;
    padding: 20px;
    border-bottom: 5px solid red;
}
a:hover{
    color: red;
}
a:active{
    background-color: red;
}
a:visited{
    background-color: red;
}
ul{
    margin: 0px;
    padding: 0px;
    display:flex;
    align-items: center;
    
}
li{
    list-style-type: none;
    
}
a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding-right: 20px;
    
}
.head .container{
    display: flex;
    justify-content: space-between;
}
.main{
    background-image: url(../image/image-product-desktop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    min-height: 350px;
}
.main h1{
    font-size: 50px;
    text-align: center;
    word-spacing: 0.8em;
    letter-spacing: 0.9;
}
.main p{
    padding: 20px;
    line-height: 1.6em;
    text-align: center;
    font-size: 25px;
}
.sect .container{
    display: flex;
    justify-content: space-between;
}
.sect{
    background-color: black;
    padding: 40px;
    color: white;

}
.search{
 
}
.btn{
    background-color: red;
    width: 70px;
    
}
.box{
    padding: 50px;
}
.box .container{
    display: flex;
    text-align: center;
    line-height: 2em;
}
.css img{
    max-width: 300px;
    min-height: 300px;
}
.javascript img{
    max-width: 300px;
    max-height: 300px;
}
.foot{
    background-color: orangered;
    padding: 50px;
    text-align: center;
}
.about .container{
    display: flex;
    justify-content: space-between;
}
.about {
    line-height: 2em;
    padding: 30px;
}
.down{
   background-color: darkslategray;
   margin-top: 20px;
}
.about h1{
    margin-bottom: 20px;
}
.box2{
    background-color: darkslategrey;
    margin-left: 30px;
    padding: 20px;
}
label{
    display: block;
}
.service{
    padding: 20px;
    line-height: 2em;
}
.service .container{
    display: flex;
}
.box-1{
  background-color: lightgray;
  padding: 20px;
  margin-right: 30px;
  margin-top: 20px;
}
.box-2{
    background-color: lightgray;
  padding: 20px;
  margin-right: 30px;
  margin-top: 20px;
}
.box-3{
    background-color: lightgray;
    padding: 20px;
    margin-right: 30px;
    margin-top: 20px;
}
.form{
    background-color: rgb(31, 22, 22);
    max-height: 350px;
    padding: 40px;
    color: white;
}
.btn1{
    background-color: red;
    padding: 5px;
}
@media(max-width:960px){
    .box .container{
        display: flex;
        flex-direction: column;
    }
    .btn{
        margin-top: 5px;
    }
    .form{
        align-self: center;
    }
}